@page "/editUser/{Id}"
@using Models
@using Infrastructure
@using Blazored
@using Blazored.Toast.Services
@using Microsoft.AspNetCore.Components

@inject IToastService ToastService
@inject IUriHelper UriHelper
@inject ApiCommunicator ApiCommunicator

<h1>Edit User</h1>

@if (_user != null)
{
    <EditForm Model="@_user" OnSubmit="@Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <p>Username:</p>
        <InputText id="username" bind-Value="@_user.Username" />
        <p>Role:</p>
        <select id="select-box" bind="@_user.Role">
            <option value=@UserRole.Redactor>@UserRole.Redactor.ToString()</option>
            <option value=@UserRole.User>@UserRole.User.ToString()</option>
        </select>
        <br />
        <button type="submit">Submit</button>
    </EditForm>
}

@functions {

    [Parameter]
    private string Id { get; set; }

    private User _user;

    protected override async Task OnInitAsync()
    {
        _user = await ApiCommunicator.GetUser(int.Parse(Id));
    }

    async void Submit()
    {
        if (await ApiCommunicator.UpdateUser(_user))
        {
            ToastService.ShowSuccess("Success.");
            UriHelper.NavigateTo("/userManagement");
        }
        else
        {
            ToastService.ShowError("Error.");
        }
    }
}
