@page "/register"
@using Models
@using Infrastructure
@using Blazored
@using Blazored.Toast.Services
@using MasiYellow.Util
@using Microsoft.AspNetCore.Components

@inject IToastService ToastService
@inject IUriHelper UriHelper
@inject AuthorizationManager AuthorizationManager

<h1>Register</h1>

<EditForm Model="@_authModel" OnSubmit="@Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <p>Username:</p>
    <InputText id="username" bind-Value="@_authModel.Username" />
    <p>Password:</p>
    <InputText id="password" bind-Value="@_authModel.Password" />
    <p>Repeat password:</p>
    <InputText id="passwordRepeat" bind-Value="@_authModel.PasswordRepeat" />
    <br />
    <button type="submit">Submit</button>
</EditForm>


@functions {

    private RegisterModel _authModel = new RegisterModel();

    async void Submit()
    {
        if (await AuthorizationManager.Register(_authModel.Username, _authModel.Password))
        {
            ToastService.ShowSuccess("Success.");
            UriHelper.Navigate("/login");
        }
        else
        {
            ToastService.ShowError("Error.");
        }
    }
}
